@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  background-color: #f7f7f7;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#header {
  width: 100%;
  background-color: #034e0e;
  height: 5rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 4rem;
  cursor: pointer;
}

#nav {
  display: flex;
  color: white;
  gap: 4rem;
  align-items: center;
}

#nav > li {
  cursor: pointer;
  list-style-type: none;
}

.my-link {
  text-decoration: none;
  color: white;
}

#cart-li{
   position: relative;
}

#cart-item-number{
  position: absolute;
  top: -8px;
  right: -8px;
  font-weight: 900;
  border-radius:50%;
  background-color: red;
  color:white;
  padding: 2px 6px;
  text-align: center;
}

#cart-img{
  height:2rem;
}

#user-name {
  padding: 1rem 1.5rem;
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
  color: #034e0e;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

#shimmer-container {
  margin: 12rem 2rem 0rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

.shimmer-box {
  width: 20rem;
  height: 33rem;
  padding: 2rem;
  background-color: #b9b9b9;
  border-radius: 1rem;
}

.shimmer-img-box {
  width: 100%;
  height: 15rem;
  background-color: #7e7e7e;
  border-radius: 5rem;
}

#body {
  padding: 2rem;
}

#name-box {
  width: 30rem;
}

#name-label {
  color: #034e0e;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#personalized-nameUpdate {
  border: 1px solid rgb(136, 127, 127);
}

#user-greetings {
  margin: 2rem;
  text-align: center;
}

#container {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

#search {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 3rem;
}

#search-bar {
  width: 22rem;
  padding: 0.5rem 1rem;
  background-color: #dad7d7;
  border-radius: 0.5rem;
  border: none;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: #d4af37;
  border-radius: 0.5rem;
  border-color: #d4af37;
  cursor: pointer;
}

#result-box {
  height: 29.375rem;
  width: 100%;
}

#result-content {
  text-align: center;
  font-size: 3rem;
  padding-top: 5rem;
}

#restaurant {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 4rem;
}

.restro-link {
  text-decoration: none;
  color: black;
}

#restaurant-card {
  height: 33rem;
  width: 20rem;
  padding: 2rem;
  background-color: #ffffff;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

#restaurant-card:hover {
  transform: scale(0.9);
}

#restro-img-box {
  width: 100%;
  height: 15rem;
  border-radius: 5rem;
}

#restro-img-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5rem;
}

.restro-subdetails {
  color: black;
  font-weight: 100;
}

#restro-highlight {
  font-weight: bolder;
}
